<h1>User Profile</h1>
<img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle" style="width: 200px; height: 200px;">
<p>Username: {{user.username}}</p>
<p>{{user.user_status}}</p>
<p>Email: {{user.user_email}}</p>
<p>Level: {{user.user_level}}</p>
<p>
    <a href="/friends" class="user-profile-link">
        Friends: {{friends}}
    </a>
</p>
<p>
    <a href="/friend_requests" class="user-profile-link">
        Friendship Requests: {{requests}}
    </a>
</p>
<button id="LogOut" class="btn btn-secondary">LogOut</button>
<button id="Edit" class="btn btn-secondary">Edit</button>
