{% csrf_token %}
<script>
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<h1>Sign Up</h1>
            <form id="signupForm">
                <div class="form-group">
                    <label for="newName">Name</label>
                    <input type="text" id="newName" name="newName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="newEmail">Email</label>
                    <input type="text" id="newEmail" name="newEmail" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="newUsername">Username</label>
                    <input type="text" id="newUsername" name="newUsername" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">Password</label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>