<div>
    <link rel="stylesheet" type="text/css" href="/static/css/game.css">
    <h1>Game Page</h1>
    <div id="gameContainer">
        <!-- Player 2 name at the top -->
        <p id="player2Name" class="player-name top">Player 2: <span></span></p>

        <!-- Game will be initialized here -->

        <!-- Player 1 name at the bottom -->
        <p id="player1Name" class="player-name bottom">Player 1: <span></span></p>
    </div>
    <div id="AIorPlayerContainer"></div>
    <div id="difficultyContainer"></div>
</div>