Django==4.2.5
djangorestframework==3.14.0
psycopg2-binary==2.9.6

django-allauth
djangorestframework-simplejwt
django-two-factor-auth
phonenumbers
Pillow

requests  # For making HTTP requests to 42's API
python-dotenv  # For managing environment variables