{% extends 'game/base.html' %}

{% load static %}

{% block title %}Play Ping Pong{% endblock %}

{% block content %}
<div id="gameContainer"></div>
<button id="restartButton" style="display: none;" onclick="restartGame()">Restart Game</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="{% static 'game/config.js' %}"></script>  <!-- Load the config file -->
<script src="{% static 'game/table.js' %}"></script>  <!-- Load the Table class -->
<script src="{% static 'game/paddle.js' %}"></script>
<script src="{% static 'game/player.js' %}"></script>
<script src="{% static 'game/ball.js' %}"></script>
<script src="{% static 'game/game.js' %}"></script>
<script>
    const game = new Game();
    game.start();

    function restartGame() {
        game.reset();  // Call the reset method to restart the game
        document.getElementById('restartButton').style.display = 'none';  // Hide the button again
    }
</script>
{% endblock %}
