{% extends 'game/base.html' %}

{% load static %}

{% block title %}Play Ping Pong{% endblock %}

{% block content %}
<div id="gameContainer"></div>
<button id="restartButton" style="display: none;" onclick="restartGame()">Restart Game</button>

<!-- Debug Information -->
<div id="debugInfo" style="position: fixed; top: 60px; left: 150px; color: white; font-family: Arial, sans-serif;">
    <div>Ball Speed: <span id="ballSpeed">0</span></div>
    <div>Ball Spin: <span id="ballSpin">0</span></div>
    <div>Player Score: <span id="playerScore">0</span></div>
    <div>AI Score: <span id="aiScore">0</span></div>
</div>


<script>
    const texturePath = "{% static 'game/textures/table.jpg' %}";

    const game = new Game(texturePath);
    game.start();

    function restartGame() {
        game.reset();  // Call the reset method to restart the game
        document.getElementById('restartButton').style.display = 'none';  // Hide the button again
    }
</script>
{% endblock %}
